name: Test

on:
  push:
    branches:
      - test

jobs:
  test:
    name: Test
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v4

      - uses: ./
        with:
          name: World
